{% extends "base.html" %}

{% block title %}Om meg{% endblock %}

{% block content %}
<h1>Om meg</h1>
<p>
    Hei, mitt navn er Tore Birgisson. Jeg er født i 1983, og bor i Alta. Har en gutt på 16, og vi spiller begge i korps, han kornett og jeg tuba. I tillegg spiller jeg litt strengebass.
    Jeg har fagbrev som automatiker, og har jobbet i oljeindustrien i ca. 10 år. I den forbindelse har jeg vært borti mange spennende teknologier og programmert en hel del forskjellig utstyr.
    Det være seg PLS, SCADA eller kontrollere for diverse måleutstyr. I 2015 flyttet jeg hjem til Alta, for å være nærmere familien min. Jeg konverterte da til å jobbe med bygging av høyspentlinjer.
</p>
<p>
    I 2022 startet jeg på forkurs ingeniør, og studerer nå datateknikk fulltid på andre året som nettstudent. Jeg har vokst opp med datamaskin, og arvet pappa sin IBM XT når jeg var ca 8.
    I 1994 fikk jeg meg en 486, og da startet jeg så smått å programmere litt med TurboPascal. Når det kommer til web programmering lekte jeg meg med et php rammeverk som heter Yii midt på 2000-tallet,
    og har hostet egne løsninger for fildeling osv for familien siden. Har nå en home-lab med en HP Proliant DL380 G6 med proxmox for egne skytjenester. Når jeg skal kose meg med programmering,
    så liker jeg best god gammeldags C! Jeg har lekt en del med mikrokontrollere, og har en liten stabel med ESP32 liggende til fremtidige prosjekter.
</p>

{% endblock %}
