{% extends "base.html" %}

{% block title %}Flask{% endblock %}

{% block content %}
<h1>Min forståelse av Python og Flask</h1>

<h2>Python</h2>
<p>
    Python er et programmeringsspråk som er 'interpretert', det vil si at den ikke kompileres til maskinkode men leses linje for linje av en Python interpreter.
    Python er meget populært, og kan brukes til alt mulig, datavisualisering, webprogrammering, maskinlæring, automasjon, osv.
    Det finnes et hav av ferdige løsninger man kan importere, slik som numpy, pandas, flask, django ++
</p>

<h2>Flask</h2>
<p>
    Flask er et minimalistisk web-rammeverk for Python. Det er relativt enkelt å lære, og det gir kjernefunksjonalitet for webutvikling som ruting, mal-rendering (Jinja2 templates),
    og det finnes mange plugins til flask som kan utvide funksjonaliteten. For eksempel flask-sqlalchemy for database-integrasjon, flask-login for autentisering, WTForms osv.
    Flask benytter såkalt WSGI, eller Web Server Gateway Interface, som er en standard for å koble sammen web-servere og web-applikasjoner. Flask inkluderer en egen WSGI 'development server'
    men i produksjon bør man benytte waitress eller gunicorn. Jeg synes flask sine blueprints ser veldig nyttig ut, i og med at man kan lage gjenbrukbare komponenter.
</p>

<h2>Min erfaring med web-rammeverk</h2>
<p>
    Jeg har kun brukt flask i forbindelse med dette studiet. Tidligere har jeg brukt apache, php og mysql (old school!).
    I nyere tid har jeg lekt litt med Phoenix og Elixir, men der er jeg veldig fersk. Jeg har ikke særlig stor interesse for frontend utvikling,
    og bryr meg ikke stort om styling og design. Jeg synes det er mye mer spennende med backend og det å få ulike systemer til å kommunisere med hverandre.
    Styling av denne siden er gjort med Tailwind CSS, jeg regner med det er greit siden Bootstrap var innenfor. For å tilfredsstille krav om egne css elementer,
    har jeg stylet navigasjonsmenyen med vanlig css. Javascript prøver jeg å holde meg unna! Jeg har prøvd litt htmx, og er veldig imponert over hvor enkelt der er å bruke.
    Med htmx kan man lage responsivt innhold nesten helt uten javascript.
</p>

{% endblock %}
